@font-face {
    font-family: "Watermelon Script Demo";
    src: url(Watermelon Script Demo.ttf), format(truetype);
}
@font-face {
    font-family: "Gotham-Light";
    src: url(Gotham-Light.ttf), format(truetype);
}
body{
  font-family: "Gotham", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
/*---------------------------------MENU - TOPO--------------------------------------------*/
/*Adicionando imagem de fundo*/
#topo{
  background-image: url("../img/bg-topo.png");
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height:700px;
}
#topo a{
  text-decoration: none;
}
#icon{
  font-size: 1.5em;
}
#img-logo{
  padding: 5px 0px;
}
/*Estilizando o header do menu*/
header{
  margin: 0;
  padding: 0;
}
.menu-topo{
  color: white;
  list-style: none;
  margin: 0;
  background: #159286;
  opacity: 0.6;
  height: 75px;
}
/*Alinhando os itens do menu*/
.menu-topo li{
  display: inline-block;
  padding: 3px;
  padding: 5px 10px 0px 10px;
  text-align: center;
}
/*Estilizando os itens do menu*/
.menu-topo li a{
  text-decoration: none;
  color: white;
  transition: 0.3s 0.1s ease-in-out;
}
/*Adicionando animação do 'hover'*/
.menu-topo li a:hover{
  text-decoration: underline;
  color: #d56073;
}
/*Posicionando os itens do menu*/
.menu-itens {
  float: right;
  padding: 17px 55px 0px 0px;
  font-weight: bold;
  text-align: center;
}
/*---------------------------------------------------------------------------------------------------- */
/*Estilizando o título da página*/
h1{
  font-family: "Watermelon Script Demo", cursive;
  font-weight: lighter;
  color: #d56073;
  font-size: 3.5em;
  text-align: center;
}
a{
  text-decoration: none;
  color: #d56073;
}
p{
  padding-left: 50px;
  font-size: 20px;
}
body > main > section > h1{
  margin-bottom: 0;
}
/*Alinhando os itens da página em linha com flex*/
.container-contato{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  }
/*Adicionando borda para a imagem sobre.png*/
section img{
    border-radius: 6%;
  }
.contato-form{
  flex-grow: 0.5;
}
/*Alinhando os itens do formulário em coluna*/
.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
/*Estilizando a borda dos campos de texto do formulário*/
.campo input{
  width: 88%;
  padding: 10px 10px;
  margin: 10px;
  border-color: #1ab7ac;
  border-style: solid;
  border-width: medium;
}
/*Aumentando a caixa de texto da área de mensagem do formulário*/
input[name=mensagem]{
  height: 50px;
}
/*Estilizando o placeholder do formulário*/
::-webkit-input-placeholder {
   color: #dd8592;
   margin: 0px;
}
/*Estilizando o texto do botão*/
#button-text{
  color: #dd8592;
}
#button-text:hover{
  color: white;
}
/*------------------------------------*/

/*Alinhando o botão 'Enviar'*/
.button input{
  width: 30%;
  height: 50px;
  margin: 32px;
  padding: 10px 10px;
  font-weight: bolder;
  background-color: white;
  text-transform: uppercase;
  border-color: #1ab7ac;
  border-style: solid;
  border-width: medium;
  float: right;
}
/*Estilizando o 'hover' do botão enviar*/
.button input[type=submit]:hover{
  background-color:#1ab7ac ;
  border-color: #dd8592;
}
/*Responsividade para mobile*/
@media screen and (max-width: 500px){
  #contato-image {
    width: 80%;
    margin-left: 40px;
  }
  .container-contato{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  }
}
/*Responsividade para tablet*/
@media screen and (max-width: 800px){
  #contato-image {
    width: 80%;
    margin-left: 100px;
  }
  .container-contato{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  }
.contato-conteudo p{
    text-align: center;
    font-size: 1.5em;
  }
}
/*---------------------------------------------------------------------------------------------------- */
/*---------------------------------FOOTER-------------------------------------*/
footer{
  color: #dabea6;
  width: 100%;
}
a{
  text-decoration: none;
  color: #d56073;
}
.conteudo-footer{
  font-size: 1em;
  margin-left: 0;
  padding: 0;
  text-align: center;
  font-weight: 500;
}
.conteudo-footer p{
  margin: 0;
  padding: 20px;
  color: #d56073;
  background-color: #dabea6;
}
/*---------------------------------------------------------------------------------*/
