@font-face {
    font-family: "Watermelon Script Demo";
    src: url(Watermelon Script Demo.tff), format(truetype);
}
@font-face {
    font-family: "Gotham-Light";
    src: url(Gotham-Light.tff), format(truetype);
}
body{
  font-family: "Gotham", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
/*---------------------------------MENU - TOPO--------------------------------------------*/
/*Adicionando imagem de fundo*/
#topo{
  background-image: url("../img/bg-topo.png");
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height:700px;
}
#topo a{
  text-decoration: none;
}
#icon{
  font-size: 1.5em;
}
#img-logo{
  padding: 5px 0px;
}
/*Estilizando o header do menu*/
header{
  margin: 0;
  padding: 0;
}
.menu-topo{
  color: white;
  list-style: none;
  margin: 0;
  background: #159286;
  opacity: 0.6;
  height: 75px;
}
/*Alinhando os itens da lista do menu*/
.menu-topo li{
  display: inline-block;
  padding: 3px;
  padding: 5px 10px 0px 10px;
  text-align: center;
}
/*Estilizando os itens do menu*/
.menu-topo li a{
  text-decoration: none;
  color:white;
  transition: 0.3s 0.1s ease-in-out;
}
/*Adicionando animação quando o mouse passar em cima do menu*/
.menu-topo li a:hover{
  text-decoration: underline;
  color: #d56073;
}
/*Posicionando os itens do menu*/
.menu-itens {
  float: right;
  padding: 17px 55px 0px 0px;
  font-weight: bold;
  text-align: center;
}

h1 {
  text-decoration: none;
}
/*---------------------------------CONTEÚDO - PÁGINA PRODUTOS--------------------------------------------*/
.conteudo-produto{
  width: 100%;
  height: auto;
  text-align: center;
  font-family: "Gotham", sans-serif;
}
/*Estilizando o título (h1) da pagina*/
.conteudo-produto h1{
  font-family: "Watermelon Script Demo", cursive;
  color: #d56073;
  font-size: 3.5em;
  font-weight: lighter;
  margin-bottom: 0;
  padding: 0;
}
.conteudo-produto a{
  text-decoration: none;
}
/*Estilizando os textos das imagens*/
.conteudo-produto p{
  margin: 2px;
  padding: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #d56073;
  font-size: 25px;
}
.container-produto{
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
   flex-direction: row;
}
.imagem-produto{
  border-radius: 10%;
  border: 2px groove;
}
/*Adicionando e estilizando imagem de divulgação do instagram*/
.imagem-instagram{
  height: 100%;
  margin-top: 10px;
  border-radius: 2%;
  border-width: medium;
  /*background-color:#4fd8e8;*/
  /*background-image: linear-gradient( 45deg, red, green, yellow, blue );*/
/*}
.imagem-instagram:hover {
  background-image: linear-gradient( to right, red, green, yellow, blue );
}*/
/*----------------------------------------------------------------------------*/
/*Estilizando os textos dos produtos*/
.produto{
  padding: 10px;
}
.produto p{
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 10px;
    transition: 0.2s 0.2s ease-in-out;
}
.produto a{
  text-decoration: none;
}
.produto p:hover{
  color: #1ab7ac;
}
/*----------------------------------------------*/
/*Responsividade*/
@media screen and (max-width: 480px) {
   .conteudo-produto h1{
     font-family: "Watermelon Script Demo", cursive;
     color: #d56073;
     font-size: 2.5em;
     font-weight: lighter;
     margin-bottom: 0;
     padding: 0;
   }
   .linha{
     width: 70%;
   }
    .container-produto {
        flex-direction: column;
    }
    .container-produto .produto {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .container-produto p{
      order: -1;
    }
    .container-produto img{
      order: 1;
    }
    .imagem-produto{
      width: 70%;
    }
}
/*<!----Footer-----> */
footer{
  color: #dabea6;
  width: 100%;
}
a{
  text-decoration: none;
  color: #d56073;
}
.conteudo-footer, a{
  font-size: 1em;
  margin-top: 10px;
  padding: 0;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
  color: #d56073;
}
.conteudo-footer p{
  margin: 0;
  padding: 20px;
  color: #d56073;
  background-color: #dabea6;
}
