@font-face {
    font-family: 'Watermelon';
    src: url("fonts/Watermelon Script Demo.tff");
}
@font-face {
    font-family: 'Gotham';
    src: url("fonts/Gotham-Light(1).tff");
}
body{
  font-family: "Gotham", sans-serif;
  margin: 0;
  padding: 0;
  bottom: auto;
}
/*---------------------------------MENU - PÃGINA PRINCIPAL--------------------------------------------*/
#topo{
  background-image:url("img/bg-topo.png");
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height:700px;
}
header{
  margin: 0;
  padding: 0;
}
.menu-topo{
  color: white;
  list-style: none;
  margin: 0;
  background: #159286;
  opacity: 0.6;
  height: 75px;
}
.menu-topo li{
  display: inline-block;
  padding: 3px;
  padding: 5px 10px 0px 10px;
}
.menu-topo li a{
  text-decoration: none;
  color:white;
}
.menu-topo > img:nth-child(1){
  padding: 5px 0px 0px 0px;
}
.menu-itens {
  float: right;
  padding: 25px 55px 0px 0px;
  font-weight: bold;
}
.menu-topo li a:hover{
  text-decoration: none;
  color: #dabea6;
}

.conteudo-produto{
  width: 100%;
  height: auto;
  text-align: center;
  font-family: "Gotham", sans-serif;
}
.conteudo-produto h1{
  font-family: "Watermelon Script Demo", cursive;
  color: #d56073;
  font-size: 3.5em;
}
.conteudo-produto p{
  margin: 2px;
  padding: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #d56073;
  font-size: 25px;
}
.container-produto{
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
   flex-direction: row;
}
.imagem-produto{
  border-radius: 10%;
  border: 2px groove;
}
.produto{
  padding: 10px;
}
.produto p{
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 10px;
}
/*  <!----Footer-----> */
footer{
  margin-top: 20px;
  color: #dabea6;
}
.conteudo-footer{
  background-color: black;
  font-size: 1em;
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 500;
}
.conteudo-footer p{
  margin: 0;
  padding: 20px;
  color: #d56073;
  background-color: #dabea6;
}
